@import "tailwindcss";

@theme {
  --color-primary: #161716;
  --color-secondary: #f6f1e7;
  --color-accent: #efb965;
  --color-brand-white: #fffdf8;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-primary);
}

